argcomplete==2.0.6
asgiref==3.6.0
charset-normalizer==2.1.1
colorama==0.4.6
commitizen==2.42.1
decli==0.5.2
Django==4.1.7
django-cors-headers==3.14.0
django-filter==22.1
djangorestframework==3.14.0
Jinja2==3.1.2
Markdown==3.4.1
MarkupSafe==2.1.2
packaging==23.0
prompt-toolkit==3.0.38
pytz==2022.7.1
PyYAML==6.0
questionary==1.10.0
sqlparse==0.4.3
termcolor==2.2.0
tomlkit==0.11.6
typing_extensions==4.5.0
wcwidth==0.2.6
