<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do App</title>
</head>
<body>
  <h1>To-do List</h1>

  <form method="POST" actions="">
    {% csrf_token %}
    {{ form.title }}
    <input type="submit" name="Create Task" />
  </form>

  <ul>
  {% for each_task in tasks %}
    <li>
      <div>
        <p>{{each_task}}</p>
        <a href="{% url 'update_task' each_task.id %}">Update</a>
        <a href="{% url 'delete_task' each_task.id %}">Delete</a>
      </div>
    </li>
  {% endfor %}
  </ul>
</body>
</html>